<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}{% endblock %}	
	<link rel="stylesheet" href="{{ url_for('static',path='style.css') }}" type="text/css" media="all">
</head>
<body style="">
<div id="page" class="site">
	<div class="container clearfix">
		<div id="navigation" class="site-nav" style="display: block;">
			<div class="site-nav-inner">
				<div class="container">
					<header id="masthead" class="site-header" role="banner">
						<h1 class="site-title display-logo"><a href="" rel="home"><img src="{{ url_for('static',path='logo.jpg') }}"></a></h1>
						<p class="site-subtitle">Hello, buddy!</p>
						<h2 class="site-description">I'm a coder's brother. Welcome to my blog. Here are some of the records on my job.</h2>
					</header>
					<div id="main-sidebar" class="widget-area" role="navigation">
						<aside class="widget widget_categories">
							<h3 class="widget-title"><a href="/">Home</a></h3>
							<h3 class="widget-title">Categories</h3>
							<ul>
								<li class="cat-item"><a href="/s/jquery/">jQuery</a></li>
								<li class="cat-item"><a href="/s/javascript/">Javascript</a></li>
								<li class="cat-item"><a href="/s/java/">Java</a></li>
								<li class="cat-item"><a href="/s/php/">PHP</a></li>
								<li class="cat-item"><a href="/s/python/">Python</a></li>
								<li class="cat-item"><a href="/s/net/">.NET</a></li>
								<li class="cat-item"><a href="/s/android/">Android</a></li>
								<li class="cat-item"><a href="/s/ios/">iOS</a></li>
								<li class="cat-item"><a href="/s/html/">HTML</a></li>
								<li class="cat-item"><a href="/s/css/">CSS</a></li>
								<li class="cat-item"><a href="/s/sql/">SQL</a></li>
								<li class="cat-item"><a href="/s/mysql/">Mysql</a></li>
							</ul>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<div id="main" class="site-main" style="min-height: 631px;">
			<div class="site-main-inner">
				<div class="container clearfix">
					{% block content %}{% endblock %}
					<div id="secondary" class="widget-area">Sponsored</div>
				</div>
			</div>
		</div>
		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="container">
				<div class="site-info">
					Copyright © 2018 - CODESD'S BROTHER - 10 q. 0.464 s. <span class="sep">|</span> Contact: redbigfish123 at gmail
				</div>
			</div>
		</footer>
	</div>
</div>
</body>
</html>