{% extends "base.html" %}
{% block head %}
    <title>{{ data.meta_title }}</title>
    <meta name="description" content="{{ data.meta_description }}">
    <meta name="robots" content="{{ data.meta_robots }}">
    <link rel="canonical" href="{{ data.meta_url }}">
{% endblock %}
{% block content %}
<main class="content" id="genesis-content">
    <div class="home-bottom widget-area">
        <header class="entry-header">
			<h1 class="entry-title" itemprop="headline">{{ data.post.name }}</h1>
			<p>{{ data.meta_description }}</p>
			{{ data.updated_content }}
		</header>
		<section class="widget featured-content featuredpost">
			<div class="widget-wrap">
				{% for result in data.post.links %}
                {% if result.url != '' %}
				<article class="post type-post status-publish format-standard has-post-thumbnail category-lifestyle tag-colorado tag-skiing entry">
					<header class="entry-header">
						<h3 class="entry-title" itemprop="headline"><a href="{{ result.url }}" rel="nofollow" target="_blank">{{ result.title}}</a></h3>
                        {{ result.url }}<br>
                        <p>{{ result.description }}</p>
                        {% if result.image and result.image != '' %}
                        <img src="{{ result.image }}" alt="{{ result.title}}" width="320px" height="179px">
                        {% endif %}
					</header>
				</article>
                {% endif %}
				{% endfor %}
			</div>
		</section>
	</div>
</main>
{% endblock %}